html {
    margin: 0;
}
    
body {
    margin: 0;
    padding: 10px;
    padding-top: 5px;
    font-family: Helvetica,sans-serif;
    color: #F6B900;
    background-color: #10020D;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: justify;
}

a, a:hover, a:visited {
    color: #F30015;
    font-weight: bold;
}

p, pre {
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
}

.list p::first-letter{
    font-weight: bold;
    font-size: 120%;
}

pre {
    white-space: pre-line;
}

h1, h2 {
    color: #F30015;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 120%;
}

.faq h1,
.partners h1{
    font-size: 120%;
}

h1 a {
    text-decoration: none;
}

.alt {
    color: #590801;
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
    display: table;
}

.v-center {
    display: table-cell;
    vertical-align: middle;
}

.quote{
    font-family: serif;
    font-style: italic;
}

.logos > span,
.logos > a{
    display: block;
    width: 160px;
    height: 160px;
    text-align: center;
    float: left;
    margin: 10px;
}

.partners h1{
    clear: both;
}